<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Yasuaki Uechi</string>
	<key>Builder Version</key>
	<string>11601.4.4</string>
	<key>CFBundleDisplayName</key>
	<string>Polyglot</string>
	<key>CFBundleIdentifier</key>
	<string>co.randompaper.safari.polyglot</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1.0</string>
	<key>CFBundleVersion</key>
	<string>1.1.0</string>
	<key>Chrome</key>
	<dict>
		<key>Context Menu Items</key>
		<array>
			<dict>
				<key>Command</key>
				<string>translateSelectedText</string>
				<key>Identifier</key>
				<string>translate</string>
				<key>Title</key>
				<string>Translate</string>
			</dict>
		</array>
		<key>Global Page</key>
		<string>global.html</string>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Command</key>
				<string>translateSelectedText</string>
				<key>Identifier</key>
				<string>translate</string>
				<key>Image</key>
				<string>toolbar-icon.png</string>
				<key>Include By Default</key>
				<true/>
				<key>Label</key>
				<string>Translate</string>
				<key>Tool Tip</key>
				<string>Translate</string>
			</dict>
		</array>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>injected.js</string>
			</array>
		</dict>
		<key>Stylesheets</key>
		<array>
			<string>injected.css</string>
		</array>
	</dict>
	<key>Description</key>
	<string>Translate selected text into your native language.</string>
	<key>DeveloperIdentifier</key>
	<string>4C2L48JCT5</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>https://uetchy.github.io/Polyglot/manifest.plist</string>
	<key>Website</key>
	<string>https://github.com/uetchy/Polyglot</string>
</dict>
</plist>
