#polyglot__panel {
  font-size: 11pt !important;
  color: #000 !important;
  line-height: 1.6em !important;
  font-family: sans-serif !important;
  font-weight: normal !important;
  position: absolute !important;
  padding: 20px !important;
  margin-right: 20px !important;
  background-color: #efefef !important;
  border-radius: 6px !important;
  z-index: 9999 !important;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2) !important;
  transform: scale(0) !important;
  transform-origin: 0 0 !important;
  animation: polyglot__envelope 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275)
    forwards !important;
}

.polyglot__loader {
  font-size: 4px !important;
  position: relative !important;
  text-indent: -9999em !important;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2) !important;
  border-right: 1.1em solid rgba(255, 255, 255, 0.2) !important;
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2) !important;
  border-left: 1.1em solid #d1d1d1 !important;
  transform: translateZ(0) !important;
  animation: polyglot__load8 1.1s infinite linear !important;
}

.polyglot__loader,
.polyglot__loader:after {
  border-radius: 50% !important;
  width: 10em !important;
  height: 10em !important;
}
@keyframes polyglot__load8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes polyglot__envelope {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
