<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>DefaultValue</key>
		<string>en</string>
		<key>Key</key>
		<string>targetLanguage</string>
		<key>Title</key>
		<string>Target Language</string>
		<key>Titles</key>
		<array>
			<string>Afrikaans</string>
			<string>Albanian</string>
			<string>Arabic</string>
			<string>Armenian</string>
			<string>Azerbaijani</string>
			<string>Basque</string>
			<string>Belarusian</string>
			<string>Bengali</string>
			<string>Bosnian</string>
			<string>Bulgarian</string>
			<string>Catalan</string>
			<string>Cebuano</string>
			<string>Chichewa</string>
			<string>Chinese Simplified</string>
			<string>Chinese Traditional</string>
			<string>Croatian</string>
			<string>Czech</string>
			<string>Danish</string>
			<string>Dutch</string>
			<string>English</string>
			<string>Esperanto</string>
			<string>Estonian</string>
			<string>Filipino</string>
			<string>Finnish</string>
			<string>French</string>
			<string>Galician</string>
			<string>Georgian</string>
			<string>German</string>
			<string>Greek</string>
			<string>Gujarati</string>
			<string>Haitian Creole</string>
			<string>Hausa</string>
			<string>Hebrew</string>
			<string>Hindi</string>
			<string>Hmong</string>
			<string>Hungarian</string>
			<string>Icelandic</string>
			<string>Igbo</string>
			<string>Indonesian</string>
			<string>Irish</string>
			<string>Italian</string>
			<string>Japanese</string>
			<string>Javanese</string>
			<string>Kannada</string>
			<string>Kazakh</string>
			<string>Khmer</string>
			<string>Korean</string>
			<string>Lao</string>
			<string>Latin</string>
			<string>Latvian</string>
			<string>Lithuanian</string>
			<string>Macedonian</string>
			<string>Malagasy</string>
			<string>Malay</string>
			<string>Malayalam</string>
			<string>Maltese</string>
			<string>Maori</string>
			<string>Marathi</string>
			<string>Mongolian</string>
			<string>Myanmar (Burmese)</string>
			<string>Nepali</string>
			<string>Norwegian</string>
			<string>Persian</string>
			<string>Polish</string>
			<string>Portuguese</string>
			<string>Punjabi</string>
			<string>Romanian</string>
			<string>Russian</string>
			<string>Serbian</string>
			<string>Sesotho</string>
			<string>Sinhala</string>
			<string>Slovak</string>
			<string>Slovenian</string>
			<string>Somali</string>
			<string>Spanish</string>
			<string>Sudanese</string>
			<string>Swahili</string>
			<string>Swedish</string>
			<string>Tajik</string>
			<string>Tamil</string>
			<string>Telugu</string>
			<string>Thai</string>
			<string>Turkish</string>
			<string>Ukrainian</string>
			<string>Urdu</string>
			<string>Uzbek</string>
			<string>Vietnamese</string>
			<string>Welsh</string>
			<string>Yiddish</string>
			<string>Yoruba</string>
			<string>Zulu</string>
		</array>
		<key>Type</key>
		<string>PopUpButton</string>
		<key>Values</key>
		<array>
			<string>af</string>
			<string>sq</string>
			<string>ar</string>
			<string>hy</string>
			<string>az</string>
			<string>eu</string>
			<string>be</string>
			<string>bn</string>
			<string>bs</string>
			<string>bg</string>
			<string>ca</string>
			<string>ceb</string>
			<string>ny</string>
			<string>zh-CN</string>
			<string>zh-TW</string>
			<string>hr</string>
			<string>cs</string>
			<string>da</string>
			<string>nl</string>
			<string>en</string>
			<string>eo</string>
			<string>et</string>
			<string>tl</string>
			<string>fi</string>
			<string>fr</string>
			<string>gl</string>
			<string>ka</string>
			<string>de</string>
			<string>el</string>
			<string>gu</string>
			<string>ht</string>
			<string>ha</string>
			<string>iw</string>
			<string>hi</string>
			<string>hmn</string>
			<string>hu</string>
			<string>is</string>
			<string>ig</string>
			<string>id</string>
			<string>ga</string>
			<string>it</string>
			<string>ja</string>
			<string>jw</string>
			<string>kn</string>
			<string>kk</string>
			<string>km</string>
			<string>ko</string>
			<string>lo</string>
			<string>la</string>
			<string>lv</string>
			<string>lt</string>
			<string>mk</string>
			<string>mg</string>
			<string>ms</string>
			<string>ml</string>
			<string>mt</string>
			<string>mi</string>
			<string>mr</string>
			<string>mn</string>
			<string>my</string>
			<string>ne</string>
			<string>no</string>
			<string>fa</string>
			<string>pl</string>
			<string>pt</string>
			<string>ma</string>
			<string>ro</string>
			<string>ru</string>
			<string>sr</string>
			<string>st</string>
			<string>si</string>
			<string>sk</string>
			<string>sl</string>
			<string>so</string>
			<string>es</string>
			<string>su</string>
			<string>sw</string>
			<string>sv</string>
			<string>tg</string>
			<string>ta</string>
			<string>te</string>
			<string>th</string>
			<string>tr</string>
			<string>uk</string>
			<string>ur</string>
			<string>uz</string>
			<string>vi</string>
			<string>cy</string>
			<string>yi</string>
			<string>yo</string>
			<string>zu</string>
		</array>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>true</string>
		<key>Key</key>
		<string>instantTranslation</string>
		<key>Title</key>
		<string>Instant translation (when you select text on a page)</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Keyboard Shortcut</string>
		<key>Type</key>
		<string>Group</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>false</string>
		<key>Key</key>
		<string>useMetaKey</string>
		<key>Title</key>
		<string>Command</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>false</string>
		<key>Key</key>
		<string>useShiftKey</string>
		<key>Title</key>
		<string>Shift</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>false</string>
		<key>Key</key>
		<string>useCtrlKey</string>
		<key>Title</key>
		<string>Ctrl</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>false</string>
		<key>Key</key>
		<string>useAltKey</string>
		<key>Title</key>
		<string>Alt</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string></string>
		<key>Key</key>
		<string>keyValue</string>
		<key>Title</key>
		<string>Key</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
</array>
</plist>
