<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Key</key>
		<string>apiKey</string>
		<key>Secure</key>
		<true/>
		<key>Title</key>
		<string>Google Cloud Platform API Key</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>ja</string>
		<key>Key</key>
		<string>targetLanguage</string>
		<key>Title</key>
		<string>Target Language</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>192</string>
		<key>Key</key>
		<string>keyboardShortcut</string>
		<key>Secure</key>
		<false/>
		<key>Title</key>
		<string>Keyboard Shortcut</string>
		<key>Titles</key>
		<array>
			<string>`</string>
		</array>
		<key>Type</key>
		<string>ListBox</string>
		<key>Values</key>
		<array>
			<string>192</string>
		</array>
	</dict>
</array>
</plist>
