<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Extension Updates</key>
  <array>
    <dict>
      <key>CFBundleIdentifier</key>
      <string>io.uechi.safari.polyglot</string>
      <key>Developer Identifier</key>
      <string>58XDWHK3JX</string>
      <key>CFBundleVersion</key>
      <string>2.3.0</string>
      <key>CFBundleShortVersionString</key>
      <string>2.3.0</string>
      <key>URL</key>
      <string>https://github.com/uetchy/Polyglot/releases/download/v2.3.0/Polyglot.safariextz</string>
      <key>Update From Gallery</key>
      <false/>
    </dict>
  </array>
</dict>
</plist>
